#add-post{
    height: fit-content;
    width: 70vw;
    border: 1px solid black;
}

h1{
    max-width: 200px;
}

input{
    color: black;
    padding-left: 0.2rem;
    width: 180px;
}

#new-post-content{
    color: black;
    padding-left: 0.2rem;
    min-width: 500px;
    height: 250px;
    vertical-align: top;
}

.input-wrapper {
    h3{
        font-size: 16px;
        font-weight: 100;
    }
    ul{
        padding-left: 20px;
        li{
            list-style-type:disc;
        }
    }
}

#new-post-images{
    width: 65px;
}