#add-post{
    height: fit-content;
    width: 70vw;
    /* border: 1px solid black; */
}

h1{
    max-width: 200px;
}

input{
    color: black;
    padding-left: 0.2rem;
    width: 180px;
}

#new-post-title{
    width: 600px;
    height: 30px;
    border-radius: 5px;
}

/* #new-post-content{
    color: black;
    padding-left: 0.2rem;
    min-width: 700px;
    height: 250px;
    vertical-align: top;
} */

#new-post-content{
    display: flex;
    height: 750px;
    gap: 2rem;
    /* width: 750px; */
    /* background-color: #fff; */
    margin-top: 50px;
    border-radius: 5px;
    *{
        color: black;
        span{
            color: #fff;
        }
    }
    .headers{
        position: relative;
        display: flex;
        width: 100%;
        background-color:  var(--main-bg-color);;
        border-color: transparent;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        .header{
            height: 50px;
            width: 100px;
            background-color: rgb(190, 204, 200);
            color: rgb(57, 57, 57);
            border-bottom: 1px solid rgb(57, 57, 57);;
            border-top: none;
            &.selected{
                display: block;
                background-color: #fff;
                font-weight: 600;
                border: none;
            }
            &:nth-child(1){
                border-top-left-radius: 5px;
            }
            &.last, &.last.selected{
                border-top-right-radius: 5px;
            }
        }
        & .empty{
            width: 450px;
            height: 50px;
            background-color: var(--main-bg-color);
            outline: 1px solid var(--main-bg-color);
        }
    }
    .content-title{
        padding: 1rem;
        border-top-right-radius: 5px;
        background-color: #fff;
    }
    #content-text-body{
        background-color: #fff;
    }
    #blog-content{
        margin: 1rem;
        padding: 0.5rem;
        min-width: 350px;
        min-height: 250px;
        width: 600px;
        height: 450px;
        max-width: 700px;
        max-height: 500px;
    }
}

#content-footer{
    background-color: #fff;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

#content-additional-info{
    border: 1px solid black;
    min-width: 200px;
    height: fit-content;
    padding:5px;
}

.content-info{
    margin-top: 0.5rem;
    display: flex;
    flex-direction: column;
}

.content-item{
    margin-top: 0.2rem;
    display: flex;
}

#content-author{
    img{
        max-width: 10%;
    }
    #author-name{
        max-width: 110px;
        padding-top: 0.2rem;
        margin-left: 0.4rem;
    }
}

#content-post-date{
    
}

.input-wrapper{
    h3{
        font-size: 16px;
        font-weight: 100;
    }
    ul{
        padding-left: 20px;
        li{
            list-style-type:disc;
        }
    }
}

#new-post-delete{
    background-color: red;
    span{font-weight: bold;}
    &:hover{
        background-color: rgb(187, 0, 0);
        border: 3px solid rgb(135, 0, 0);
        & span{
            font-weight:bolder;
        }
    }
    &:active{
        background-color: rgb(49, 78, 97);
        border: 1px solid rgb(37, 53, 64);
    }
}