#main-wrapper{
    width: 100%;
    display: flex;
    #recent-table, #all-table{
        margin: 2rem 3rem;
        position: relative;
        /* height: fit-content;
        width: fit-content; */
        filter: drop-shadow(0 0 0.75rem rgb(5, 5, 5));
        border-radius: 20px;
        background-color: rgb(96, 122, 129);
        border-collapse: collapse;
        td, th {
            position: relative;
            text-align: left;
            padding: 10px 16px;
            padding-right: 20px;
            &:first-child{
                padding: 10px 10px;
                padding-left: 20px;
                text-align: center;
            }
        }
        .preview{
            position: absolute;
            display: none;
            background-color: aqua;
            height: 50px;
            width: 50px;
            z-index: 20;
        }
        tr td:first-child{
            &:hover{
                color: blue;
                .preview{
                    display: flex;
                }
            }
        }
        #column-headers{
            background-color: rgb(74, 97, 103);
            position: sticky;
        }
        th:first-child{
            border-top-left-radius: 20px;
        }
        th:last-child{
            border-top-right-radius: 20px;
        }
        .table-live-text{
            font-weight: 900;
            color: transparent;        
        }
        tr:nth-child(even) {
            background-color: rgb(124, 158, 168);
        }
        a{
            &:hover{
                text-decoration: underline;
            }
        }
    }
}

.live-green{
    text-shadow: 0 0 0 green;
}
.live-red{
    text-shadow: 0 0 0 red;
}