#main-wrapper{
    width: 100%;
    display: flex;
}

#categories-post{
    height: 600px;
    width: 70vw;
    border: 1px solid black;
    ul{
        padding-left: 20px;
        .delete-item{
            color: rgb(255, 54, 54);
            font-size: 10px;
            &:hover{
                cursor: pointer;
                font-weight: 600;
            }
        }
    }
}