#main-wrapper{
    width: 100%;
    display: flex;
}

#categories-post{
    height: 600px;
    width: 70vw;
    border: 1px solid black;
    ul{
        margin: 20px 0px;
        padding-left: 20px;
    }
}