#main-wrapper{
    width: fit-content;
    display: flex;
    gap: 5rem;
    padding: 5% 5%;
    .home-section{
        /* display: flex;
        flex-direction: column;
        gap: 20px; */
        text-align: center;
        font-weight:600;
        height: 600px;
        width: 450px;
        border-radius: 25px;
        background-color: aliceblue;
        filter: drop-shadow(0 0 0.75rem rgb(5, 5, 5));
        *{
            color: var(--main-font-color);
            padding: 1rem 1rem;
        }
    }
}