:root{
    --aside-width: 180px;
    --desktop-max-width: 2048px;
    --laptop-max-width: 1584px;
    --mobile-max-width: 760px;
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
}

body{
    display: flex;
    justify-content: center;
    background-color: #646772;
}

a{
    text-decoration: none   ;
}

button{
    background: none;
    border: none;
    cursor: pointer;
    /* &[type="submit"]{
        font-weight: 600;
        color: #b1b7c3;
        &:hover{
            color: white;
        }
    } */
    &.close-icon{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        height: 25px;
        width: 25px;
        position: absolute;
        top: 10px;
        right: 10px;
        border: 1px solid #2f3d43;
        border-radius: 5px;
        font-size: 10px;
        &:hover{
            color: rgb(255, 20, 20);
            background-color: rgb(23, 32, 38);
            border: 1px solid #3c4d55;
            border-radius: 5px;
            &:active{
                background-color: rgb(14, 20, 24);
                border: 1px solid #242e33;
                color: rgb(230, 0, 0);
            }
        }
    }
}

#body-wrapper{
    /* max-width: 1440px; */
    max-width: var(--laptop-max-width);
    min-width: 1394px;
    width: 100%;
}

/* header, #header-wrapper{
    max-width: var(--laptop-max-width);
} */

header{
    position: sticky;
    top: 0;
    /* left: 0; */
    z-index: 2;
}

#header-wrapper{
    display: flex;
    justify-content: space-between;
    background-color: #101517;
    #logo{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0.5rem 0rem;
        height: 30px;
        min-width: var(--aside-width);
        width: var(--aside-width);
    }
    #top-nav{
        /* position: sticky; */
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 100%;
        #login-button-wrapper{
            padding: 0.5rem 2rem;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}

aside, #aside-wrapper{
    width: var(--aside-width);
}
aside{
    position: sticky;
    top: 46px;
    left: 0;
}

#tabs{
    display: flex;
    flex-direction: column;
    height: 977px;
    min-height: 720px;
    /* width: var(--aside-width); */
    background-color: #101517;
    .tab{
        a, button{
            /* active bg colour when active
            background-color: #4c70ae; */
            padding: 0.5rem 1rem;
            display: flex;
            flex-direction: row;
            align-items: center;
            .tab-icon{
                height: 20px;
                width: 34px;
                padding-right: 10px;
            }
            .tab-name{
                text-align: center;
            }
        }
        .tab-content{
            .tab-content-item{
                background-color: #2f3239;
                color: #909296;
                font-size: 13.5px;
                padding: 1rem 0;
                padding-left: 1.6rem;
                padding-right: 0.5rem;
                max-height: 15px;
                &:hover{
                    color: white;
                    font-weight: 600;
                }
            }
        }
    }
}

.hide{
    transition: 1s;
    opacity: 0;
    display: none;
    z-index: -1;
}



#login-modal-bg{
    height: 100vh;
    width: 100vw;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2f323978;
    #login-modal-content{
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: #101517;
        height: 300px;
        width: 300px;
        #login-input
        {
            /* padding-bottom: 60px; */
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 2rem;
            #login-user-input, #login-password-input
            {
                padding: 0.2rem;
                color: black;
                display: flex;
                flex-direction: column;
                font-weight: 600;
            }
        }
    }
}

@media(min-width: 760px){
    #body-wrapper{
        min-width: 100%
    }
}

@media(min-width: 1584px){
    #body-wrapper{
        max-width: 2048px;
        min-width: 1802px;
    }
    /* header, #header-wrapper{
        max-width: var(--desktop-max-width);
    } */
}

@media(max-width: 760px){
    #body-wrapper{
        max-width: 760px;
        min-width: 100%
    }
    /* header, #header-wrapper{
        max-width: var(--mobile-max-width);
    } */
}