*{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none   ;
}

#body-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    padding: 0;
    /* max-width: 1440px; */
    max-width: 1584px;
    min-width: 38%;
}

#top-nav{
    /* height: 30px; */
    width: 100%;
    background-color: #101517;
    #logo{
        padding: 0.5rem 1rem;
        height: 30px;
        width: 30px;
    }
}

#aside-wrapper{
    width: 100%;
    height: 100%;
}

#tabs{
    display: flex;
    flex-direction: column;
    height: 720px;
    width: 150px;
    background-color: #101517;
    .tab{
        a{
            padding: 0.5rem 1rem;
            display: flex;
            flex-direction: row;
            align-items: center;
            .tab-icon{
                height: 25px;
                width: 34px;
                padding-right: 10px;
            }
            .tab-name{
                color: white;
                text-align: center;
            }
        }
    }
}