:root{
    --aside-width: 300px;
}
aside{
    height: 100vh;
}

#main-wrapper{
    display: flex;
}

#aside-wrapper{
    display: flex;
    background-color: #183649;
    justify-content: start;
}

#profile-display-wrapper{
    /* background-color: #183649; */
    height: 310px;
    padding-top: 1.5rem;
    padding-bottom: 2rem;
    #profile-display{
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        #profile-display-pic{
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            img{
                height: 200px;
                width: 200px;
            }
        }
        #profile-tag{
            display: flex;
            flex-direction: column;
            align-items: center;
            height: 100%;
        }
    }
}

#extra-options-userprofile{
    display: flex;
    justify-content: center;
    align-items: center;
}

#log-out-wrapper, #app-dash-btn-profile-wrapper{
    margin: 2rem;
    #log-out, #app-dash-btn-profile{
        padding: 0.4rem 1rem;
        border: 1px solid #191c1f;
        background-color: #121517;
        border-radius: 5px;
        font-weight: 400;
        &:hover{
            background-color: #102431;
            border: 1px solid #364b60;
            font-weight: 500;
        }
    }
}

#tabs{
    background-color: #183649;
}

#userprofile-main-content section{
    padding: 2rem;
}

.info-box-wrapper{
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
}